.edit-reminder-modal,
.new-reminder-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .MuiDialogContent-root {
        max-width: 700px;
        max-height: 500px;
        
        .MuiPaper-root {
            padding: 24px;

            .circle-picker {
                flex-direction: row;
                // Color component uses negative margin on element =(
                margin: 12px 0px !important;
            }
        }
    } 
}
