.app {
    margin: auto;
    max-width: 1200px;

    .calendar-container {
        display: flex;
        align-content: center;
        vertical-align: middle;
        margin: auto;
    }
}
