.calendar {
    display: flex;
    flex-flow: column wrap;

    .cell {
        border: 1px solid lightgray;
        min-width: 75px;
        min-height: 75px;

        &:nth-child(7n) {
            flex-basis: 100%;
        }
    }
}