.reminder-data {
    display: flex;
    border: 1px solid;
    border-radius: 5px;
    padding: 1px;

    $colors: ("red", #ef9a9a), ("purple", #9fa8da), ("green", #80cbc4), ("ÿellow", #fff59d), ("orange", #ffcc80), ("grey", #b0bec5);

    @each $color in $colors {
        &.color-#{nth($color, 1)} {
            background-color: nth($color, 2);
        }
    }
}